.item {

}

.item:last-of-type {
}

.users {

}

.buttonsContainer {
	display: flex;
	justify-content: right;
	gap: 12px;
	margin-bottom: 18px;
}

.container {
	max-width: 606px;
	width: 100%;
	
}

.thead {
	background-color: #E5E5E5;
	
}

.nameCol {
	padding: 11px 175px 9px 0;
	border-bottom: 1px solid #E5E5E5;
}

.ageCol {
	padding: 11px 175px 9px 0;
	border-bottom: 1px solid #E5E5E5;
}