.friendMessage {
	display: block;
	padding: 25px 0 56px;
}

.friendImageAndText {
	display: flex;
	gap: 13px;
}

.friendImageAndText img {
	max-width: 48px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.friendText {
	position: relative;
	height: 100%;
}

.friendText:after {
position: absolute;
	content: '';
	top: -15px;
	left: -35px;
	background-image: url("../../../assets/svg/friend-message.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 85px;
	width: 120%;
	z-index: -1;
}

.friendName {
	padding: 0 0 5px 0;
	font-weight: 600;
	font-size: 18px;
}

.friendMessageText {

}

.friendTime {
	font-weight: 600;
	font-size: 10px;
	padding: 5px 0 0 10px;
	text-align: left;
}
